@tailwind base;
@tailwind components;
@tailwind utilities;

.region {
  transition: fill 0.3s ease-in-out;
}

.region-available {
  fill: #FFB800;
  cursor: pointer;
}

.region-available:hover {
  fill: #e5a600;
}

.region-unavailable {
  fill: #D9D9D9;
}

.region-unavailable:hover {
  fill: #b3b3b3;
}